
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    background-color:#F9E79F;
}
h1{
    padding-top: 0.5rem;
    text-align: center;
    font-weight: 100;
}
main{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1B4F72;
    margin: auto;
    max-width: 600px;
    color: #d3d1c8;
    padding-left: 0.5rem;
    margin-bottom: 10rem;
}
.inputs{
    padding-left: 10rem;
    padding-bottom: 1.5rem;
}
.submit-button{
    background-color: transparent;
    margin-left: 250px;
    color: #d3d1c8;
    border-color: #d3d1c8;
    font-size: large;
    padding: 0.5rem;
}
p{
    text-align:center;
    font-size: x-large;
    color:#81E6D9;
    padding-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    padding: 1rem 0rem;
    text-align: center;
    color: #1B4F72 ;
    font-weight: bold;
}
.footer .link{
    color: #1B4F72;
}
.footer ul{
    padding-inline-start: 0px;
}
.list-non-bullets{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.Warning{
    color: #bb3e03;
    padding-bottom: 18px;

}